<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo">
      <p>AdminHub</p>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/establishments" nzSelected>
        <span nz-icon nzType="appstore-add" nzTheme="outline"></span>
        <span>Заклади</span>
      </li>
      <li nz-menu-item routerLink="/shares">
        <span nz-icon nzType="tags" nzTheme="outline"></span>
        <span>Акції та пропозиції</span>
      </li>
      <li nz-menu-item routerLink="/reference-book">
        <span nz-icon nzType="notification" nzTheme="outline"></span>
        <span>Новини</span>
      </li>
      <li nz-menu-item routerLink="/news">
        <span nz-icon nzType="read" nzTheme="outline"></span>
        <span>Довідник</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>AdminHub ©2024</nz-footer>
  </nz-layout>
</nz-layout>
