.fields {
  display: flex;
  gap: 10px;
}

.addresses-input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.addresses-input-group input {
  flex: 1;
  min-width: 150px; /* Adjust as needed */
}

.addresses-input-group button {
  flex-shrink: 0;
}

.ant-form-item {
  margin: 0;
}

.submit-btn {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}


/* Styles for mobile devices */
@media (max-width: 600px) {
  .addresses-input-group {
    flex-direction: column;
  }

  .addresses-input-group button {
    align-self: flex-end;
  }
}
